wp-content/themes/*
!wp-content/themes/custom

wp-content/plugins/*
!wp-content/plugins/custom-pixelex-aspect
wp-content/plugins/custom-pixelex-aspect/vendor

wp-includes

wp-admin

wp-*.php
xmlrpc.php
index.php
*.txt
*.html
*.htaccess
