wp-content/themes/*
!wp-content/themes/custom
wp-content/themes/custom/dist

wp-content/plugins/*
!wp-content/plugins/custom-pixelex-aspect
wp-content/plugins/custom-pixelex-aspect/vendor

wp-content/uploads

wp-includes

wp-admin

*node_modules*

wp-*.php
xmlrpc.php
index.php
*.txt
*.html
*.htaccess
