$grid-template-rows: (
    12: repeat(12, 1fr),
    4: repeat(4, 1fr),
    2: repeat(2, 1fr)

) !default;

$grid-template-columns: (
    12: repeat(12, 1fr),
    5: repeat(5, 1fr),
    4: repeat(4, 1fr),
    3: repeat(3, 1fr),
    2: repeat(2, 1fr)
) !default;

$grid-column-gap: (
    1: 1rem,
    2: 2rem,
    3: 3rem,
    gutter: $gutter
) !default;

$jcalign: (
    's': start,
    'e': end,
    'c': center,
    'sb': space-between,
    'sa': space-around,
    'se': space-evenly,
    'fe': flex-end,
    'fs': flex-start
);

@include preonize("grid-tr-", grid-template-rows, $grid-template-rows, $breakpoints);
@include preonize("grid-tc-", grid-template-columns, $grid-template-columns, $breakpoints);
@include preonize("grid-cg-", grid-column-gap, $grid-column-gap, $breakpoints);

@include preonize("jc-", justify-content, $jcalign, $breakpoints);
@include preonize("ac-", align-content, $jcalign, $breakpoints);
@include preonize("ai-", align-items, $jcalign, $breakpoints);